# Project exclude paths
/gjjhuebi-task2-master/.gradle/
/gjjhuebi-task4-master/.gradle/
/gjjhuebi-task5-master/.gradle/
/gjjhuebi-task6-master/.gradle/
/gjjhuebi-task7-master/.gradle/
/gjjhuebi-task8-master/.gradle/